.jumbotron{
	text-align: center; 
	background: #01579b; color: white;
}
.row#principal{
	margin: 2%;
}
.input-field.col-sm-12#txbox{
	text-align:center;
}
.col-sm-12#divButton{
	text-align: center;
}
#recibe{
	background-color: #01579b;
	color: white;
}
#descripcionProblema{
	border-radius: 10px;
}
#otro{
	border-radius: 10px;
}